# General ignores
out
kotlin-js-store

# IntelliJ ignores
*.iml
/*.ipr

# Gradle ignores
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
